<!-- main -->
  <section id="main" class="clearfix ad-details-page">
    <div class="container">
    
      <div class="breadcrumb-section">       
        <h2 class="title">New tournament</h2>
      </div><!-- banner -->

<%= render 'form', tournament: @tournament %>


    </div><!-- container -->
  </section><!-- main -->