<section id="main" class="clearfix about-us page">
		<div class="container">
			<div class="breadcrumb-section">								
				<h2 class="title">Privacy Policy</h2>	
			</div><!-- banner -->
			<div class="section about">
				<div class="about-info">
					<div class="row">						
						<!-- about-text -->
						<div class="col-md-12">
							<div class="about-text">
								<!-- description-paragraph -->
								<div class="description-paragraph">


									<p>



В целях сохранения конфиденциальности мы не предоставляем Ваши личные данные третьим лицам. </br>

<h4>Электронная рассылка.</h4></br>
Собираемая нами персональная информация позволяет своевременно уведомлять Вас об обновлениях, последних новостях и изменениях в работе сайта. Вы можете в любое время отказаться от электронной рассылки, изменив соответствующие настройки в Личном кабинете.


<h4>Меры, применяемые для защиты персональной информации пользователей.</h4></br>

Hockeytut.com анонимно использует файлы cookies для запоминания персональной информации и обеспечения более удобного взаимодействия с Компанией. Вы можете отключить использование cookies в параметрах настройки браузера, однако в этом случае некоторые функции сайта могут работать неправильно.</br>

Hockeytut.com автоматически собирает адреса Интеренет-протоколов (IP-адреса) пользователей для понимания и анализа тенденций, администрирования сайта, изучения поведения пользователей на сайте и сбора демографической информации.</br>

В целях сохранения конфиденциальности Вашей личной информации мы принимаем необходимые и достаточные организационные и технические меры безопасности, сводящие к минимуму несанкционированный доступ к Вашей персональной информации или ее раскрытию. В частности, мы используем SSL - шифрование для защиты персональных сведений.</br>

<h4>Добровольное предоставление данных.</h4></br>
В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.</br>

<h4>Условия обработки персональной информации пользователей.</h4></br>
Использование сайта hockeytut.com означает согласие пользователей с настоящей Политикой конфиденциальности и условиями обработки его персональных данных. Лица, не достигшие совершеннолетия, не могут самостоятельно создавать мероприятия и завяки.

<h4>Изменение Политики конфиденциальности. Применимое законодательство.</h4></br>
Hockeytut.com имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. О внесенных изменениях мы уведомляем пользователей по электронной почте, указанной при регистрации.</br>
Настоящая Политика и отношения между пользователем и hockeytut.com , возникающие в связи с применением Политики конфиденциальности, регулируется нормами законодательства.

<h4>Изменение пользователем персональной информации.</h4></br>
Пользователь может изменить или удалить предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, воспользовавшись функцией редактирования персональных данных в Личном кабинете.

<h4>Обратная связь.</h4></br>
Если у вас возникли вопросы в отношении настоящей Политики конфиденциальности или обработки персональных данных компанией hockeytut.com, пожалуйста, свяжитесь с нами: support@hockeytut.com




							</p>


						</div><!-- about-text -->
					</div>
				</div><!-- about-info -->	
			</div><!-- about -->


			
		</div><!-- container -->
	</section><!-- main -->