<section id="main" class="clearfix about-us page">
		<div class="container">
			<div class="breadcrumb-section">								
				<h2 class="title">Rules</h2>	
			</div><!-- banner -->
			<div class="section about">
				<div class="about-info">
					<div class="row">						
						<!-- about-text -->
						<div class="col-md-12">
							<div class="about-text">
								<!-- description-paragraph -->
								<div class="description-paragraph">



									<p>



<h4>1. Общие требования к организации мероприятий на ресурсе hockeytut.com</h4>
Объявления, размещаемые на ресурсе hockeytut.com должны быть составлены на одном из двух языков Русском или Английском, и содержать:</br></br>

1.1. Описание конкретного турнира или кемпа. Описание должно быть полным и достоверным. В одном объявление следует размещать информацию об одном мероприятии, объявления о группе мероприятий не разрешены. Текст объявления может содержать ссылки на посторонние сайты только в категориях «Описание» ,«Сумма взноса с игрока» в разделе Турина или «Сумма взноса с участника» в разделе Кемпа.</br></br>

1.2. Достоверную сумму для участия. При этом цена обязательно должна указываться в российский рублях, евро или в долларах. Цена указывается в специальном поле "Сумма взноса с команды", "Сумма взноса с одного игрока" и "Сумма взноса с одного участника" добавление информации о цене в текст объявления не разрешается.</br></br>

1.3. Достоверную контактную информацию о организаторе. К обязательной контактной информации относятся e-mail, номер телефона, страна, город , полное название клуба, полное название организаторов кемпа и сайт. Их следует указывать в специальных полях, а не в тексте объявления. Контактные данные, указанные в тексте объявления, будут удалены при модерации объявления. Вся контактная информация будет отображаться другим пользователям на сайте. В поле "Телефон" можно указать несколько номеров телефона.</br></br>

1.4. В случае размещения фотографий, объявление должно содержать реальные фотографии мероприятия, арены, логотип, соответствующие конкретному организованному мероприятию. Не допускается размещение фотографий, на которых содержится ссылка на посторонние сайты.</br></br>

<h4>2. Запрет на размещение определенных объявлений</h4>

2.1. Запрещается размещать объявления, содержащие:</br></br>

- недобросовестную, недостоверную, неэтичную, скрытую рекламу, а также информацию, наносящую вред деловой репутации конкурентов рекламодателя;</br></br>

- пропаганду или призыв к насилию, жестокости и совершению противоправных действий;</br></br>

- обещание или гарантию, утверждающие будущую эффективность (доходность) рекламируемого вида деятельности;</br></br>

- информацию, вводящую в заблуждение участников относительно качества, количества и иных характеристик мероприятий</br></br>

- просьбы о предварительной оплате, почтовой пересылке наложенным платежом или в конверте денежных сумм, а также иных вложений;</br></br>

- ненормативную лексику, а также оскорбительные высказывания, в том числе расистского и религиозного характера, а также призывы к дискриминации по национальному, расовому, половому или иным признакам;
</br></br>
 - нарушение общепринятых норм морали и нравственности;</br></br>

2.2. Не разрешается размещать объявления маркетингового характера, то есть объявления, не подходящие под одни из типов объявлений (турнир или кемп)</br></br>

2.3. Hockeytut.com также вправе принять решение об отказе в размещении отдельных объявлений в случае, если сочтет их содержание несоответствующим законодательству страны. Подробную информацию о запрещенных мероприятий, которые не подлежат размещению на ресурсе hockeytut.com , вы найдете в списке запрещенных мероприятий.</br></br>

<h4>3. Изменение и редактирование объявлений</h4>

3.1. Администрация ресурса hockeytut.com оставляет за собой право:</br></br>

- размещать или отклонять объявления;</br></br>

- определять, какое объявление не соответствует настоящим Правилам;</br></br>

- удалять объявления, если они не соответствуют правилам размещения объявлений на сайте, без предварительного уведомления и объяснения причин;</br></br>

- изменять требования к содержанию и условиям размещения объявлений;</br></br>

- изменять содержание и оформление объявлений в соответствии с требованиями,

указанными в настоящих Правилах;</br></br>
- редактировать объявления в целях придания им качеств, удобных для чтения;</br></br>

- лишать конкретного пользователя права на размещение объявлений в случае нарушения данным пользователем настоящих Правил.</br></br>

<h4>4. Общие условия</h4>

4.1. Ответственность. Тот, кто подает объявление, несет полную ответственность за свое объявление. hockeytut.com не отвечает за качество рекламируемых в объявлении мероприятий. Рекламодатель коммерческого объявления самостоятельно несет ответственность за наличие у него необходимых согласований, разрешений, лицензий, сертификатов и/или иных документов, необходимых для осуществления соответствующего вида деятельности. Тот, кто подает объявление, дает согласие на размещение содержания объявления на сетевых страницах партнеров по сотрудничеству hockeytut.com на основе тех же самых Правил, что действуют для объявления при его размещении на hockeytut.com. Рекламодатель гарантирует, что его объявление не нарушает авторские права, интеллектуальные права или иные права третьих лиц. Если в отношении размещенного объявления ресурсу hockeytut.com будет предъявлена претензия третьих лиц в связи с нарушением законодательства страны фактом размещения объявления, то hockeytut.com вправе удалить соответствующее объявление. Кроме того, рекламодатель несет личную ответственность за такое нарушение и обязуется освободить hockeytut.com от ответственности по возмещению убытков или расходов в связи с таким нарушением.</br></br>

4.2. Личные данные и конфиденциальность. hockeytut.com оказывает помощь правоохранительным органам и другим уполномоченным лицам, занимающимся расследованием нарушений, обнаруженных в объявлениях, предоставляя необходимую информацию в соответствии с законодательством страны и нашей Политикой конфиденциальности. Лицо, подавшее объявление или ответившее на объявление, можно установить с помощью поставщика интернет-услуг, используя для этого, например, зарегистрированный IP-адрес. Подробнее с видами личных данных пользователей, которые мы обрабатываем, принципами и целями обработки личных данных пользователей, порядком предоставления личных данных третьей стороне, редактирования и удаления личных данных, а также с прочими положениями, касающимися обработки личных данных пользователей, возможно ознакомиться в нашей Политике конфиденциальности.</br></br>

4.3. Контактная информация. E-mail, номер телефона, страна, город , полное название клуба и полное название организаторов кемпа, является обязательным для размещения объявления.</br></br>

<h4>5. Платные услуги</h4>

5.1. Условия предоставления. Пользователи ресурса hockeytut.com могут воспользоваться платными услугами для повышения эффективности размещенных ими объявлений. hockeytut.com предоставляет платные услуги при условии, что пользователь разместил объявление на ресурсе hockeytut.com и тем самым согласился с настоящими правилами и условиями использования ресурса.</br></br>

<h4>6. Защита прав интеллектуальной собственности</h4>

6.1. Ограничения по использованию информации. Весь материал, включая содержание, программное обеспечение и услуги, содержащийся на ресурсе hockeytut.com , является собственностью компании ,ее дочерних предприятий и/или лицензиаров. Все права интеллектуальной собственности, включая авторские права, права на товарные знаки и знаки обслуживания, фирменные наименования и иные отличительные бренды, размещенные на ресурсе, принадлежат компании. Никакой материал, размещенный на ресурсе hockeytut.com , не может быть скопирован, тиражирован, переиздан, установлен, размещен, передан, сохранен или распространен в каком-либо виде. Единственное исключение составляют «загрузка» (передача данных с использованием информационных и технических средств связи) для копирования материала исключительно в личных целях, при условии, что: (a) все авторские права сохраняются, (b) материал не изменяется, (c) материал не используется для ассоциации с нашими товарами, услугами и брендами, и (d) не загружается в качестве материала для баз данных. Использование материала на каком-либо ином сайте или компьютерной сети строго запрещено.










									</p>



						</div><!-- about-text -->
					</div>
				</div><!-- about-info -->	
			</div><!-- about -->


			
		</div><!-- container -->
	</section><!-- main -->