<section id="main" class="clearfix about-us page">
		<div class="container">
			<div class="breadcrumb-section">								
				<h2 class="title">Terms of Use</h2>	
			</div><!-- banner -->
			<div class="section about">
				<div class="about-info">
					<div class="row">						
						<!-- about-text -->
						<div class="col-md-12">
							<div class="about-text">
								<!-- description-paragraph -->
								<div class="description-paragraph">


									<p>
Общество с ограниченной ответственностью «Хоккейтут», далее именуемое «Компания», с одной стороны, и третье лицо, далее «Пользователь», акцептовавшее настоящую оферту, размещенную в сети Интернет по адресу wwwhockeytut.com , заключили настоящее Пользовательское соглашение (далее «Соглашение») о нижеследующем:</br></br>

<h4>1. Термины </h4>
В целях настоящего Соглашения нижеприведенные термины используются в следующих значениях:</br></br>
Сайт www.hockeytut.com – сайт, принадлежащий Алексееву М.А. и имеющий адрес в сети Интернет www.hockeytut.com , на котором Инициатор имеет возможность размещать информацию о своих мероприятиях с целью последующего ознакомления с информацией и возможностью осуществить участие другими Пользователями Сайта.</br></br>
Пользователь - любое лицо, обратившиеся к информационным материалам и сервисам Компании путем посещения Сайта www.hockeytut.com</br></br>
Компания - сайт, принадлежащий Алексееву М.А «Хоккейтут»</br></br>
Инициатор – физическое или юридическое лицо зарегистрированное на Сайте www.hockeytut.com, самостоятельно заполнившее анкету для организации мероприятия, а равно имеющее право на основании соответствующего договора, заключенного между ним и Компанией, пользоваться Услугами Компании посредством Сайта www.hockeytut.com</br></br>
Мероприятие – организация турнира и/ или кэмпа, и иные массовые мероприятия и т.п. реализуемые Инициаторами, информация о которых размещается на Сайте, с целью, в том числе, анонсирования Мероприятия, а также сбора информации о Пользователях, заинтересованных в участии в таких Мероприятиях.</br></br>
Заявка – информация самостоятельно размещенная Инициатором на сайте Компании, с целью сбора заинтересованных в участии в таких заявках и мероприятиях, а также сбора информации о Пользователях.</br></br>
Личный кабинет – персональное пространство Пользователя на Сайте Компании для осуществления размещения информации о Мероприятиях и управления личными данными. Доступ к Личному кабинету имеют зарегистрированные Пользователи Сайта. Доступ к Личному кабинету предоставляется Пользователю после успешного прохождения процедуры регистрации.</br></br>
Услуги Компании – предоставление Пользователям возможности использовать Сайт Компании, в частности, путем получения размещенной на Сайте информации о Мероприятиях, размещенной Инициаторами, а также путем получения возможности участия в порядке и на условиях, предусмотренных соответствующим Инициатором и настоящим Соглашением.</br></br>
Все остальные термины и определения, не указанные в пункте 1 настоящего Соглашения, должны определяться в соответствии с толкованием, сложившимся в сети Интернет, практикой делового оборота и действующим законодательством.</br></br>

<h4>2. Предмет Соглашения</h4>
2.1. Настоящее Соглашение регулирует порядок доступа Пользователя к информации, размещаемой Инициаторами на Сайте, порядок использования Сайта и порядок размещения информации Инициаторами.</br></br>
2.2. Пользователь обязан полностью ознакомиться с условиями настоящего Соглашения до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем условий настоящего Соглашения</br></br>
2.3. На основании настоящего Соглашения Пользователь вправе получать информацию размещенную на Сайте Компании, самостоятельно размещать на Сайте Заявки, осуществив действия, предусмотренные Инициаторами: в частности, зарегистрировавшись на Сайте Компании.</br></br>
2.4. Компания действует от имени и за счет Инициаторов на основании соответствующих Договоров, заключенных между Компанией и Инициаторами. Все обязательства в соответствующих Заявках возникают непосредственно между Пользователем и Инициатором. Компания не является организатором Заявок; Сайт www.hockeytut.com является платформой для размещения Заявок Инициаторов. Ответственность за действительность и исполнимость обязательств, касающихся исполнения Заявок, несет Инициатор единолично.</br></br>
2.5. Все права на Сайт в целом и на использование сетевого адреса (доменного имени) www.hockeytut.com принадлежат Компании. Последний предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с условиями настоящего Соглашения, иных документов, размещенных в соответствующих разделах Сайта и действующим законодательством.</br></br>
2.6 Компания действует от имени Инициатора, размещает информацию о Заявке прошедшей модерацию администрацией, соответствующая настоящему соглашению, правилам платформы. После завершения модерацию администрацией информация о Заявке остается на сайте Компании и доступна по уникальной ссылке и через поиск.</br></br>

<h4>3. Права и обязанности Компании</h4>
3.1. Компания вправе изменять и/или дополнять условия настоящего Соглашения в одностороннем порядке без какого-либо специального уведомления Пользователя. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция Соглашения находится на Сайте Компании по адресу http://hockeytut.com/pages/terms_of_use. Компания рекомендует Пользователям регулярно проверять условия настоящего Соглашения на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения Компанией изменений и/или дополнений в настоящее Соглашение означает безусловное и полное принятие и согласие Пользователя с такими изменениями/дополнениями.</br></br>
3.2. В случае нарушения Пользователями условий настоящего Соглашения Компания вправе заблокировать доступ к Сайту для указанного Пользователя, а равно аннулировать аккаунт Пользователя с предварительным уведомлением или без такового.
3.3. Компания вправе связываться с Пользователями по указанным ими контактам.</br></br>
3.4. Компания осуществляет текущее управление Сайтом, определяет его внешний вид и структуру, разрешает или ограничивает доступ Пользователей к Сайту и осуществляет иные действия, необходимые для нормального функционирования Сайта.</br></br>

<h4>4. Права и обязанности Пользователя</h4>
4.1. Регистрация Пользователя на Сайте является бесплатной и добровольной. Компания не взимает с Пользователей платы за пользование сервисами Сайта.</br></br>
4.2. При регистрации на Сайте Пользователь обязан указать необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя логин (адрес электронной почты либо комбинацию из латинских букв и цифр для входа на Сайт) и пароль доступа к Сайту, а также Имя и Фамилию.</br></br>
4.3. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству предоставленной при регистрации информации, и ее чистоту от претензий третьих лиц.</br></br>
4.4. При регистрации Пользователь соглашается с условиями настоящего Соглашения и принимает на себя указанные в нем права и обязанности, связанные с использованием и функционированием Сайта, а равно с определяемыми Инициатором условиями для участия в соответствующих Заявках.</br></br>
4.5. Принимая условия настоящего Соглашения путем регистрации на Сайте, Пользователь, в случае размещения на Сайте информации, относящейся в соответствии с законом к персональным данным, соглашается на их обработку как с использованием средств автоматизации, так и без использования средств автоматизации, в частности сбор, хранение, передачу третьим лицам и использование информации Компанией в целях исполнения обязательств перед Пользователем в соответствии с настоящим Соглашением.</br></br>
4.6. После успешной регистрации Пользователя на Сайте Компания принимает на себя права и обязанности перед Пользователем, указанные в настоящем Соглашении.</br></br>
4.7. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя в Личный кабинет последнего. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном обеспечении может разрешить хранение логина и пароля (с использованием файлов cookies) для последующей автоматической авторизации на Сайте.</br></br>
4.8. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к логину и паролю и/или персональной странице Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Компании путем отправки электронного сообщения на адрес support@hockeytut.com</br></br>
4.9. Принимая данное Соглашение, Пользователь дает согласие на получение информационных и рекламных материалов Инициаторов как посредством электронной почты, так и с использованием sms-сообщений на мобильный телефон, указанные Пользователем на Сайте Компании при регистрации. Если Пользователь не желает получать указанную в настоящем пункте информацию, он должен обратиться с просьбой об отмене информирования путем отправки электронного сообщения на адрес support@hockeytut.com или изменить соответствующие настройки оповещений в Личном кабинете.</br></br>
4.10. Пользователь обязуется предоставить достоверную и полную информацию при регистрации на Сайте Компании и его дальнейшем использовании. Если Пользователь предоставляет неверную информацию, или у Компании есть основания полагать, что предоставленная Пользователем информация является неполной и/или недостоверной, Компания имеет право по своему усмотрению заблокировать доступ к Сайту для Пользователя и отказать соответствующему Пользователю в использовании Сайта Компании, с предварительным уведомлением либо без такового.</br></br>
4.11. Пользователь перед оформлением Заказа обязуется самостоятельно проверять содержание Заявки, условия Инициатора, порядок проведения, организации и исполнения Заявки, а также иные дополнительные требования и условия Иницатора для участия в соответствующем Мероприятии.</br></br>
4.12. В случае если Пользователь размещает на Сайте Компании список, содержащий данные своих контрагентов – физических лиц, в том числе персональные данные, потенциально заинтересованных в участии в соответствующих Проектах, с целью распространения Компанией рекламно-информационных материалов от имени Пользователя. Последний подтверждает свое право на обработку и хранение таких персональных данных, а также их передачу третьим лицам, на основании соответствующего Договора, заключенного между Пользователем и соответствующим контрагентом. Также Пользователь гарантирует согласие своих контрагентов – физических лиц на обработку Компанией их персональных данных, как с использованием средств автоматизации, так и без использования средств автоматизации, в частности сбор, хранение и использование информации исключительно в целях исполнения Компанией своих обязательств в соответствии с условиями настоящего Соглашения.
4.13. При использовании Сайта Компании Пользователю запрещено:</br></br>
-использовать Сайт каким-либо образом, нарушающим условия настоящего Соглашения и/или положения действующего законодательства;</br></br>
-вводить в заблуждение, порочить, оскорблять, угрожать или каким-либо другим образом ущемлять права и свободы других Пользователей Сайта, Компании, Авторов и/или каких-либо иных третьих лиц; копировать, модифицировать, изменять, удалять, дополнять, публиковать, передавать объекты прав на результаты интеллектуальной собственности Компании, Инициаторов и/или каких-либо иных третьих лиц, создавать производные работы, изготавливать или продавать продукты на их основе, воспроизводить, отображать или любым другим образом эксплуатировать или использовать такие права третьих лиц без прямого разрешения их владельцев;</br></br>
-использовать Сайт Компании вредоносным образом или способом, который может нарушить нормальное и бесперебойное функционирование Сайта;</br></br>
-осуществлять или пытаться осуществить доступ к Сайту Компании, или к любой части/функции Сайта, а равно к любой сети, соединенной с Сайтом, несанкционированным образом;</br></br>
-без согласия других Пользователей или иных третьих лиц размещать любую личную информацию, касающуюся таких лиц, осуществлять незаконные сбор и/или обработку персональных данных других Пользователей и/или иных третьих лиц;</br></br>
-вводить Пользователей и/или третьих лиц в заблуждение относительно своей личности;</br></br>
-использовать какие-либо устройства, программы или процессы, алгоритмы или любые другие автоматические устройства для получения доступа к Сайту Компании, приобретения, копирования или отслеживания любой его части в обход используемой системы навигации Сайта, для получения или попытки получения любых материалов, документов или информации при помощи любых средств, специально не обеспечиваемых через Сайт;</br></br>
-Компания имеет право удалить или ограничить доступ к любой информации, размещенной на Сайте, равно как заблокировать доступ Пользователя к Сайту, без предварительного уведомления последнего и без объяснения причин таких действии со стороны Компании.</br></br>

<h4>5. Порядок оформления и размещения Заявок и Мероприятий</h4>
5.1. Для оформления и размещения Заявки, Инициатор самостоятельно размещает необходимую информацию о своем проекте или мероприятии на сайте Компании, заполняя все необходимые поля в автоматизированной системе приема Заявок.</br></br>
5.2. Инициатором может быть:</br></br>
5.2.1. Гражданин любой страны, которому исполнилось 18 лет</br></br>
5.2.2. Юридическое лицо, Индивидуальный предприниматель и Спортивная Хоккейная Школа / Клуб официально зарегистрированные в стране .</br></br>
5.3. Для оформления Заявки Инициатор обязан полностью ознакомиться с условиями настоящего Соглашения, правил платформы и политикой конфиденциальности до момента регистрации на Сайте. Регистрация Инициатора на Сайте означает полное и безоговорочное принятие данных документов.</br></br></br></br>
5.4. Для размещения Заявки, Инициатор предоставляет следующие данные:</br></br>
5.4.1. Название Заявки</br></br>
5.4.2. Категория Заявки</br></br>
5.4.3. Короткое описание Заявки</br></br>
5.4.4. Место реализации Заявки</br></br>
5.4.5. Срок сбора средств Заявки</br></br>
5.4.6. Необходимую сумму для реализации Заявки</br></br>
5.4.7. Полное описание Заявки</br></br>
5.4.8. E-mail адрес Инициатора</br></br>
5.4.9. Мобильный телефон Инициатора</br></br></br></br>
5.5. Заявки Инициаторов размещенные на сайте Компании не подлежат удалению, после завершения мероприятия</br></br>
5.6. Размещая информацию в Заявке, Инициатор подтверждает наличие у него всех авторских прав на размещение данной информации. В случае выявления Компанией нарушений размещения информации и отсутствия у Инициатора необходимых прав на контент размещенный в Заявке, Компании вправе без предупреждения Инициатора заблокировать доступ к Заявке, с размещением информации о нарушении авторских или других прав.</br></br>

<h4>6. Ответственность</h4>
6.1. Компания не осуществляет редактирование (модерацию) информации о Заявках, размещенных Инициаторами на Сайте, в части орфографических и стилистических изменений. Компания не имеет возможности осуществлять проверку опубликованной Инициаторами информации, и, соответственно, не может гарантировать ее качество, достоверность и правомерность. В связи с вышеуказанным, Компания не несет перед Пользователями ответственности за какую-либо ошибочную и/или недостоверную информацию, указанную на Сайте.</br></br>
6.2. Компания не несет ответственности за какой-либо причиненный Пользователям вред или убытки, возникшие в силу наличия ошибок или неточностей в информации, указанной Инициаторами на Сайте Компании. Все возможные разногласия решаются Пользователем и Инициатором самостоятельно. Компания, в свою очередь, прилагает все усилия для урегулирования разногласий, возникших между Пользователем и Инициатором.</br></br>
6.3. В случае отсутствия доступа к Сайту, как полностью, так и частично, по причине проведения профилактических работ или иных работ технического характера, обеспечивающих нормальное функционирование Сайта, Компания не несет ответственности перед Пользователями за неполучение последними какой-либо информации.</br></br>
6.4. На Пользователя возлагается ответственность за любой ущерб, который может быть нанесен в результате использования материалов, полученных в ходе использования услуг Сайта Компании.</br></br>
6.5. Ответственность за любые проблемы, возникшие в процессе регистрации Пользователя, оформления Заказа и Мероприятия несет Пользователь единолично. Компания не является ответственной за какой-либо ущерб или убытки Пользователя, возникшие в результате проблемы, возникшей в связи с ошибкой или халатностью Пользователя при использовании Сайта.</br></br>

<h4>7. Конфиденциальность и защита персональной информации</h4>
7.1. Принимая условия настоящего Соглашения путем регистрации на Сайте, Пользователь, в случае размещения на Сайте информации, относящейся в соответствии с законом к персональным данным, соглашается на их обработку как с использованием средств автоматизации, так и без использования средств автоматизации, в частности сбор, хранение, передачу третьим лицам и использование информации Компанией в целях исполнения обязательств перед Пользователем в соответствии с настоящим Соглашением.</br></br>
7.2. Несмотря на то, что персональные данные, добровольно предоставляемые Пользователем, становятся доступными как Компании, так и Инициаторам, Компания при обработке таких персональных данных, обязуется принимать все организационные и технические меры для их защиты от несанкционированного доступа лиц, не являющихся Пользователями Сайта и Инициаторами. Компания вправе использовать добровольно предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством случаях.</br></br>
7.3. В силу условий настоящего Соглашения Пользователь безусловно соглашается: </br></br>- с предоставлением своих персональных данных как Компании, так и Инициаторам;</br></br>
- с обработкой персональных данных Компанией и Инициатором с целью выполнения условий настоящего Соглашения;</br></br>
- с распространением персональных данных Пользователя при помощи Сайта в отношении других Пользователей Сайта;</br></br>
- с иными действиями Компании в отношении таких данных в связи с функционированием Сайта.</br></br>
7.4. В случае несогласия Пользователя с указанными выше условиями, он должен немедленно удалить свои персональные данные с Сайта Компании, а равно прекратить пользование Сайтом.</br></br>
7.5. Компания обрабатывает персональные данные, добровольно размещенные Пользователем на Сайте, с помощью программно-аппаратных и технических средств Сайта. Целью обработки является выполнение Компанией условий настоящего Соглашения, обеспечение возможности Пользователя использовать сервисы и функционал Сайта. Персональные данные Пользователя обрабатываются в течение срока их размещения на Сайте. Обработка персональных данных прекращается Компанией с момента их удаления Пользователем с Сайта Компании.</br></br>
7.6. Компания не несет ответственности за сохранение и содержание персональных данных, опубликованных Пользователями в открытой для иных Пользователей зоне Сайта.</br></br>
7.7. В случае предоставления Пользователем данных своих контрагентов – физических лиц, относящихся в соответствии с законом к персональным данным в соответствии с п. 4.12. настоящего Соглашения, Пользователь подтверждает свое право и согласие своих контрагентов – физических лиц на обработку и хранение таких персональных данных, а также их передачу третьим лицам. При этом у Компании возникает право на обработку предоставленных персональных данных, как с использованием средств автоматизации, так и без использования средств автоматизации, в частности сбор, хранение и использование информации Компанией в целях исполнения обязательств перед Пользователем в соответствии с настоящим Соглашением. Компания обеспечивает конфиденциальность предоставленных Пользователем персональных данных и принимает необходимые организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения персональных данных, а также от иных неправомерных действий.</br></br>

<h4>8. Условия об интеллектуальных правах</h4>
8.1. Все объекты прав на результаты интеллектуальной деятельности, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки (далее – Контент Сайта), являются объектами исключительных прав Компании, Инициаторов, Кураторов, Пользователей Сайта и других правообладателей, все права на эти объекты защищены.</br></br>
8.2. Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством, никакой Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Контента любым лицом.</br></br>

<h4>9. Разрешение споров</h4>
9.1. Настоящее Соглашение и все возникающие из него правоотношения регулируются действующим законодательством.</br></br>
9.2.Любые претензии Пользователя, возникшие в связи с исполнением настоящего Соглашения, подлежат предъявлению соответствующим лицам – Компании и/или Инициаторам и/или иным третьим лицам, действия/бездействие которых повлекло за собой возникновение таких претензий у Пользователя.</br></br>
9.3. Все споры, разногласия и претензии, которые могут возникнуть в связи с исполнением настоящего Соглашения решаются Сторонами путем переговоров.</br></br>
9.4. Если Стороны не придут к соглашению по возникшим претензиям, спор подлежит передаче по подсудности на рассмотрение в суд общей юрисдикции по месту нахождения Компании.</br></br>



							</p>


						</div><!-- about-text -->
					</div>
				</div><!-- about-info -->	
			</div><!-- about -->


			
		</div><!-- container -->
	</section><!-- main -->