/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require chosen
 *= require_tree .
 *= require_self
 */

.drop-menu {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.drop-menu .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.drop-menu .select i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .5s ease;
    float: right
}
.drop-menu:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.drop-menu:active {
    background-color: #f8f8f8
}
.drop-menu.active:hover,
.drop-menu.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.drop-menu.active .select i {
    transform: rotate(180deg)
}
.drop-menu .dropeddown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.drop-menu .dropeddown li {
    padding: 10px;
    transition: all .2s ease;
    cursor: pointer
} 
.drop-menu .dropeddown {
    padding: 0;
    list-style: none
}
.drop-menu .dropeddown li:hover {
    background-color: #673AB7;
    color: #fff
}
.drop-menu .dropeddown li:active {
    background-color: #512DA8;
    color: #fff
}


















 .user-page .user-account {
  width: 280px;
  margin: auto;
 }
 .language-dropdown img {
  margin-right: 6px;
  margin-bottom: 2px;
}
 .btn-reg {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Ubuntu';
  color: #131313;
  font-size: 16px;
  background: #fff;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  width: 280px;
  margin: auto;
}

.btn-reg:hover {
  color: #131313;
  background: #f5f5f5;
  text-decoration: none;
}
 .btn-sign {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Ubuntu';
  color: #ffffff;
  font-size: 16px;
  background: #1966ff;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border: 1px solid #1966ff;
  width: 280px;
  margin: auto;
}

.btn-sign:hover {
  background: #0846c7;
  border: 1px solid #0846c7;
  text-decoration: none;
}
.searchButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #29bbff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #29bbff;
  box-shadow:inset 0px 1px 0px 0px #29bbff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
  background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color:#2dabf9;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Ubuntu';
  font-size:16px;
  font-weight:400;
  padding:8px 36px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.searchButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
  background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
  background-color:#0688fa;
}
.searchButton:active {
  position:relative;
  top:1px;
}

.m-t-3 {
  margin-top: 20px;
}
.social-widget {
  padding: 50px 0px;
}
.terms-accept {
  color: #e3e3e3;
  width: 280px;
  margin: auto;
}
.hButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #3d494f;
  -webkit-box-shadow:inset 0px 1px 0px 0px #3d494f;
  box-shadow:inset 0px 1px 0px 0px #3d494f;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d494f), color-stop(1, #1d272e));
  background:-moz-linear-gradient(top, #3d494f 5%, #1d272e 100%);
  background:-webkit-linear-gradient(top, #3d494f 5%, #1d272e 100%);
  background:-o-linear-gradient(top, #3d494f 5%, #1d272e 100%);
  background:-ms-linear-gradient(top, #3d494f 5%, #1d272e 100%);
  background:linear-gradient(to bottom, #3d494f 5%, #1d272e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d494f', endColorstr='#1d272e',GradientType=0);
  background-color:#3d494f;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Ubuntu';
  font-weight: bold;
  font-size:16spx;
  padding:12px 46px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000205;
}
.hButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1d272e), color-stop(1, #3d494f));
  background:-moz-linear-gradient(top, #1d272e 5%, #3d494f 100%);
  background:-webkit-linear-gradient(top, #1d272e 5%, #3d494f 100%);
  background:-o-linear-gradient(top, #1d272e 5%, #3d494f 100%);
  background:-ms-linear-gradient(top, #1d272e 5%, #3d494f 100%);
  background:linear-gradient(to bottom, #1d272e 5%, #3d494f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d272e', endColorstr='#3d494f',GradientType=0);
  background-color:#1d272e;
}
.hButton:active {
  position:relative;
  top:1px;
}




.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #29bbff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #29bbff;
  box-shadow:inset 0px 1px 0px 0px #29bbff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
  background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color:#2dabf9;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Ubuntu';
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
  background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
  background-color:#0688fa;
}
.myButton:active {
  position:relative;
  top:1px;
}


.category-search button {
  background-color: #0688fa;
  color: #fff;
  margin: 5px 20px;
}

.unslider-arrow{
  display: none;
}
.category-info .accordion button {
  background-color: #131313;
  color: #fff;
}
#footer li a:hover {
  color: #fff;
}

 #notice_block {
 	position: absolute;
 	top: 0;
 	width: 100%;
 	z-index: 9999;
 	background: rgba(19, 19, 19, 0.85);
 	.alert, .notice {
 	padding: 4.5rem 0;
 	text-align: center;
 	margin: 0;
 	font-size: 1.35rem;
 	font-weight: 500;
 	color: #ffffff;
 	letter-spacing: 1px;
 	}
 }

#floatingSocialShare a {
  padding: 0px 10px;
  font-size: 18px;
}
#category_camp, #category_tournament {
  display: none;
}
.user-images img {
  width: 64px;
}
#accordion .panel-body select {
  margin-bottom: 8px;
}
.custom-builder {
  height: 550px;
  position: relative;
  border: 0;
}
.m-l-4 {
  margin-left: 40px;
}
.p-b-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn {
  border-radius: 1px;
}
.green {
  color: #99cc00;
}
.red {
  color: #cc3333;
}
.full-width {
  width: 100%;
  margin: auto;
}
.contact-info i {
  font-size: 24px;
}
.pac-item {
  padding: 15px;
}
.pac-item-selected{
  background-color: grey;
}
.date-control {
  -webkit-box-shadow: none;
  border: 1px solid #e3e3e3;
  height: 44px;
  color: #000;
  display: inline-block;
  width: 32%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }
 .date-home-control {
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  border: 1px solid #f7f7f7;
  height: 44px;
  color: #000;
  display: inline-block;
  width: 32%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }
 .search-control {
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  border: 1px solid #f7f7f7;
  color: #000;
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 2.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }
.bordered {
  border-top: 1px solid #f2f2f2;
}
.reviews img {
  max-width: 15px;
}
.forum_main_heading {
	font-size: 16px;
}
.padding-s {
  padding: 120px 90px;
}
.padding-4 {
  padding: 50px;
}
.padding-1 {
  padding: 10px;
}
.margin-01 {
  margin: 10px 0px;
}
.pagination {
	margin: auto;
}
.pagination a {
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 700;
  background-color: #e7e8e9;
  margin: 3px;
  border-radius: 5px;
  padding: 6px 12px;
}
.pagination .current {
	color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #0688fa;
  margin: 3px;
  border-radius: 5px;
  padding: 6px 12px;
}