<section id="main" class="clearfix user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-login -->     
      <div class="col-md-12">
        <div class="user-account padding-s">
          <h2>Edit forum thread</h2>


          <%= render 'form', forum_thread: @forum_thread %>


          
        </div>
      </div><!-- user-login -->     
    </div><!-- row -->  
  </div><!-- container -->
</section>

